body {
  padding: 0;
  margin: 0;
  border: none;
  color: #FFFFFF;
  font-family: helvetica;
}

/* background animations ----------------------------------------- */
/*Thanks to Ian Forrest and www.gradient-animator.com for these!*/

/* main bg */
.primary {
  background: linear-gradient(219deg, #21a785, #563777, #9868cb, #9e518f, #1c528d, #009c9b, #a933b8, #a70e46);
  background-size: 1600% 1600%;
  -webkit-animation: indexAnimation 75s ease infinite;
  -moz-animation: indexAnimation 75s ease infinite;
  animation: indexAnimation 75s ease infinite;
}

@-webkit-keyframes indexAnimation {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@-moz-keyframes indexAnimation {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@keyframes indexAnimation {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}

/* joy */
@-webkit-keyframes happyAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes happyAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes happyAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.joy {
  background: linear-gradient(270deg, #d3d411, #89ab14, #e0b004);
  background-size: 600% 600%;
  -webkit-animation: happyAnimation 20s ease infinite;
  -moz-animation: happyAnimation 20s ease infinite;
  animation: happyAnimation 20s ease infinite;
}

/* anger */
@-webkit-keyframes angryAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes angryAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes angryAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.anger {
  background: linear-gradient(270deg, #9a0823, #dc4243, #f0755d);
  background-size: 600% 600%;
  -webkit-animation: angryAnimation 75s ease infinite;
  -moz-animation: angryAnimation 75s ease infinite;
  animation: angryAnimation 75s ease infinite;
}

.fear {
  background: linear-gradient(219deg, #21a785, #563777, #9868cb, #9e518f, #1c528d, #009c9b, #a933b8, #a70e46);
  background-size: 1600% 1600%;
  -webkit-animation: fearAnimation 75s ease infinite;
  -moz-animation: fearAnimation 75s ease infinite;
  animation: fearAnimation 75s ease infinite;
}

/* sadness */
@-webkit-keyframes sadAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes sadAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes sadAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.sadness {
  background: linear-gradient(270deg, #134586, #2470a9, #4f93c5);
  background-size: 1600% 1600%;
  -webkit-animation: sadAnimation 75s ease infinite;
  -moz-animation: sadAnimation 75s ease infinite;
  animation: sadAnimation 75s ease infinite;
}

/* disgust */
.disgust {
  background: linear-gradient(219deg, #21a785, #563777, #9868cb, #9e518f, #1c528d, #009c9b, #a933b8, #a70e46);
  background-size: 1600% 1600%;
  -webkit-animation: disgustAnimation 75s ease infinite;
  -moz-animation: disgustAnimation 75s ease infinite;
  animation: disgustAnimation 75s ease infinite;
}

/* fear */


/* page animations ----------------------------------------- */

/* leaving */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* entering */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}


@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

.page-welcome.ng-leave        { animation:disappear 1s both ease-in; }
.page-input.ng-enter          { animation:appear 1s both ease-in; }

/* grid setup ----------------------------------------- */

.grid:after {
  content: '';
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-4 {
  width: 25%;
  height: 100vh;
}

.col-1-2 {
  width: 50%;
  height: 100vh;
  text-align: center;
}

#boombox {
  margin-top: 3%;
  margin-bottom: -2%;
  height: 30%;
  width: 30%;
}

#title {
  font-family: "fira-sans-2", sans-serif;
  font-size: 3.5rem;
  margin-top: 0;
  color: #FFFFFF;
  text-shadow: 0px 2px 3px #000000;
}

.welcome-text {
  width: 80%;
  margin: 0 auto;
}

.welcome-text h2 {
  font-family: 'Vollkorn', sans-serif;
  font-weight: normal;
  text-align: justify;
}

.circle-button {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #292038;
}

.circle-button a {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  line-height: 80px;
}

.circle-button:hover {
  cursor: pointer;
}
.circle-button:hover a {
  color: #8c77b0;
}

.ui form {
  overflow: hidden;
}

.ui textarea {
  background: rgba(255,255,255,.5) !important;
  resize: none !important;
}

.ui button {
  float: right;
}

.ui label {
  text-align: left;
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: bold;
  font-size: 1rem !important;
  font-weight: normal !important;
  color: #a8e636 !important;
}

#circle-svg {
  position: absolute;
  font-family: "fira-sans-2", sans-serif;
  right: 2%;
  bottom: 3%;
  z-index: 1;
}

#circle-svg circle {
  fill: #dfe0e2;
}

#circle-svg:hover circle {
  fill: #cacbcd;
  cursor: pointer;
}

#circle-svg:hover text {
  stroke: #292929;
}

#info-window {
  width: 250px;
  height: 80px;
  padding: .5%;
  padding-top: .7%;
  font-size: .7em;
  text-align: left;
  position: absolute;
  right: 4.5%;
  bottom: 6%;
  border-radius: 15px;
  background-color: rgba(255,255,255,.6);
  color: #292929;
  z-index: 0;
}

.content {
  margin: 0 auto;
  width: 500px;
}

.float {
  padding: 0;
  margin: 0;
}

#emotion {
  position: fixed;
}

#emotion .eval {
  font-size: 2rem;
}

#emotion .eval:hover {
  text-decoration: none;
}

#emotion i {
  color: #292038;
}

#emotion p {
  text-align: left;
}

#emotion p, a{
  color: #FFFFFF;
  font-family: "fira-sans-2", sans-serif;
  font-weight: normal;
  text-decoration: none;
}

#emotion span:hover {
  text-decoration: underline;
}

#music {
  float: right;
}

#audio {
  max-width: 300px;
}

.album {
  width: 200px;
  height: 200px;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  border: 3px solid #FFFFFF;
  border-radius: 5px;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.album i {
  margin: 0;
  padding: 0;
  z-index: 30;
}

.album:hover {
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(0,0,0,0);
  overflow: hidden;
  transition: all 0.5s;
}

.album.hover .overlay {
  background: rgba(0, 0, 0, 0.8);
}
