body {
  padding: 0;
  margin: 0;
  border: none;
  background: linear-gradient(219deg, #21a785, #563777, #9868cb, #9e518f, #1c528d, #009c9b, #a933b8, #a70e46);
  background-size: 1600% 1600%;
  -webkit-animation: colorAnimation 80s ease infinite;
  -moz-animation: colorAnimation 80s ease infinite;
  animation: colorAnimation 80s ease infinite;
}

/*Thanks to Ian Forrest and www.gradient-animator.com for this!*/
@-webkit-keyframes colorAnimation {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@-moz-keyframes colorAnimation {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@keyframes colorAnimation {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}

.grid:after {
  content: '';
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-4 {
  width: 25%;
  height: 100vh;
}

.col-1-2 {
  width: 50%;
  height: 100vh;
  text-align: center;
}

h1 {
  font-family: "fira-sans-2", sans-serif;
  font-size: 3.5rem;
  color: #FFFFFF;
  text-shadow: 0px 2px 3px #000000;
}

.ui form {
  overflow: hidden;
}

.ui textarea {
  background: rgba(255,255,255,.5) !important;
  margin-bottom: 5px !important;
}

.ui button {
  float: right;
}

.spinner > .spinner-child {
  background-color: white;
}
