body {
  padding: 0;
  margin: 0;
  border: none;
  color: #FFFFFF;
  font-family: helvetica;
  background: linear-gradient(219deg, #21a785, #563777, #9868cb, #9e518f, #1c528d, #009c9b, #a933b8, #a70e46);
  background-size: 1600% 1600%;
  -webkit-animation: indexAnimation 75s ease infinite;
  -moz-animation: indexAnimation 75s ease infinite;
  animation: indexAnimation 75s ease infinite;
}

/*Thanks to Ian Forrest and www.gradient-animator.com for this!*/
@-webkit-keyframes indexAnimation {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@-moz-keyframes indexAnimation {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@keyframes indexAnimation {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}


@-webkit-keyframes happyAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes happyAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes happyAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.primary {
  background: linear-gradient(219deg, #21a785, #563777, #9868cb, #9e518f, #1c528d, #009c9b, #a933b8, #a70e46);
  background-size: 1600% 1600%;
  -webkit-animation: indexAnimation 75s ease infinite;
  -moz-animation: indexAnimation 75s ease infinite;
  animation: indexAnimation 75s ease infinite;
}

.joy {
  background: linear-gradient(270deg, #cdb300, #a8cd00);
  background-size: 1600% 1600%;
  -webkit-animation: happyAnimation 20s ease infinite;
  -moz-animation: happyAnimation 20s ease infinite;
  animation: happyAnimation 20s ease infinite;
}

.anger {
  background: linear-gradient(219deg, #21a785, #563777, #9868cb, #9e518f, #1c528d, #009c9b, #a933b8, #a70e46);
  background-size: 1600% 1600%;
  -webkit-animation: angryAnimation 75s ease infinite;
  -moz-animation: angryAnimation 75s ease infinite;
  animation: angryAnimation 75s ease infinite;
}

.fear {
  background: linear-gradient(219deg, #21a785, #563777, #9868cb, #9e518f, #1c528d, #009c9b, #a933b8, #a70e46);
  background-size: 1600% 1600%;
  -webkit-animation: fearAnimation 75s ease infinite;
  -moz-animation: fearAnimation 75s ease infinite;
  animation: fearAnimation 75s ease infinite;
}

.sadness {
  background: linear-gradient(219deg, #21a785, #563777, #9868cb, #9e518f, #1c528d, #009c9b, #a933b8, #a70e46);
  background-size: 1600% 1600%;
  -webkit-animation: sadAnimation 75s ease infinite;
  -moz-animation: sadAnimation 75s ease infinite;
  animation: sadAnimation 75s ease infinite;
}

.disgust {
  background: linear-gradient(219deg, #21a785, #563777, #9868cb, #9e518f, #1c528d, #009c9b, #a933b8, #a70e46);
  background-size: 1600% 1600%;
  -webkit-animation: disgustAnimation 75s ease infinite;
  -moz-animation: disgustAnimation 75s ease infinite;
  animation: disgustAnimation 75s ease infinite;
}

.grid:after {
  content: '';
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-4 {
  width: 25%;
  height: 100vh;
}

.col-1-2 {
  width: 50%;
  height: 100vh;
  text-align: center;
}

#boombox {
  margin-top: 3%;
  margin-bottom: -2%;
  height: 30%;
  width: 30%;
}

h1 {
  font-family: "fira-sans-2", sans-serif;
  font-size: 3.5rem;
  margin-top: 0;
  color: #FFFFFF;
  text-shadow: 0px 2px 3px #000000;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ui form {
  overflow: hidden;
}

.ui textarea {
  background: rgba(255,255,255,.5) !important;
  resize: none !important;
}

.ui button {
  float: right;
}

.ui label {
  text-align: left;
  font-family: helvetica;
  font-size: .7rem !important;
  font-weight: normal !important;
  color: #a8e636 !important;
}

#circle-svg {
  position: absolute;
  font-family: "fira-sans-2", sans-serif;
  right: 2%;
  bottom: 3%;
}

#circle-svg circle {
  fill: #dfe0e2;
}

#circle-svg:hover circle {
  fill: #cacbcd;
  cursor: pointer;
}

#circle-svg:hover text {
  stroke: #292929;
}

.content {
  margin: 0 auto;
  width: 500px;
}

.float {
  padding: 0;
  margin: 0;
}

#emotion {
  position: fixed;
}

#emotion .eval {
  font-size: 2rem;
}

#emotion i {
  color: #292038;
}

#emotion p {
  text-align: left;
}

#emotion p, a{
  color: #FFFFFF;
  font-family: "fira-sans-2", sans-serif;
  font-weight: normal;
  text-decoration: none;
}

#music {
  float: right;
}

.album {
  width: 200px;
  height: 200px;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  border: 3px solid #FFFFFF;
  border-radius: 5px;
  justify-content: center;
  padding: 0;
}

.album i {
  color: rgba(255,255,255,0);
  margin: 0;
  padding: 0;
  z-index: 30;
}

.album:hover {
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(0,0,0,0);
  overflow: hidden;
  transition: all 0.5s;
}

.album.hover .overlay {
  background: rgba(0, 0, 0, 0.8);
}

.album.hover i.play {
  color: rgba(255,255,255,1);
}

.album.playing i.pause {
  color: rgba(255,255,255,1);
}
