body {
  padding: 0;
  margin: 0;
  border: none;
  animation: color-animation 10s infinite;
}

@keyframes color-animation {
  0% {
    background-color: #ad1457;
  }
  50% {
    background-color: #6a1b9a;
  }
  100%; {
    background-color: #bbdefb;
  }
}

.grid:after {
  content: '';
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-4 {
  width: 25%;
  height: 100vh;
}

.col-1-2 {
  width: 50%;
  height: 100vh;
  text-align: center;
}
